
.fixedElement {
    
    position:fixed;
    top:0;
    width:100%;
    z-index:1000;
	min-width: 310px;
}
.btn-default {
    color: #74546b;
    }
#menu-toggle{
	display: none;
}
.searchIcon{
	display: none;
}
.searchIcon:hover{
	color:#e69b9b;
}
a {
	color: #f5bfae;/*#77d596;#23dbdb;*/
	text-decoration: none;
}

a:hover {
	color: #000;
}
ol, ul {
	list-style: none;
	padding:0px;
	margin:0px;
}
#wrap {
	margin: 0 auto;
}

.inner {
	margin: 0 auto;
	padding: 0 90px;
	max-width: 1399px;;
}

.relative {
	position: relative;
}

.right {
	float: right;
}

.left {
	float: left;
}

/* HEADER */
#wrap > header {
	background-color: rgba(99, 63, 89, 0.89);
	padding-bottom: 20px;
}
.logo {
	display: inline-block;
	font-size: 0;
	padding-top:15px;
	width:120px;
	min-height:50px;
}


/* HEADER > MENU */
#main-menu {
	float: right;
	font-size: 0;
	margin: 10px 0;
}

#main-menu > li {
	display: inline-block;
	margin-left: 30px;
	padding: 2px 0;
}

#main-menu > li.parent {
	background-image: url(../images/plus-gray.png);
	background-size: 7px 7px;
	background-repeat: no-repeat;
	background-position: left center;
}

#main-menu > li.parent > a {
	padding-left: 14px;
}

#main-menu > li > a {
	color: #eee;
	font-size: 16px;
	line-height: 14px;
	padding: 30px 0;
	text-decoration:none;
}

#main-menu > li:hover > a,
#main-menu > li.current-menu-item > a {
	color: #e79b9b;/*#77d596;#23dbdb;*/
}

/* HEADER > MENU > DROPDOWN */
#main-menu li {
	position: relative;
}

ul.sub-menu { /* level 2 */
	display: none;
	left: 0px;
	top: 38px;
	padding-top: 10px;
	position: absolute;
	width: 150px;
	z-index: 9999;
}

ul.sub-menu ul.sub-menu { /* level 3+ */
	margin-top: -1px;
	padding-top: 0;
	left: 149px;
	top: 0px;
}

ul.sub-menu > li > a {
	background-color: rgba(99, 63, 89, 0.89);
	border: 1px solid #74546b;
	border-top: none;
	color: #bbb;
	display: block;
	font-size: 12px;
	line-height: 15px;
	padding: 10px 12px;
}

ul.sub-menu > li > a:hover {
	background-color: #74546b;
	color : #e79b9b;/*#77d596 ;#23dbdb*/
	
	
}

ul.sub-menu > li:first-child {
	border-top: 3px solid #e79b9b;/*#77d596;#23dbdb;*/
}

ul.sub-menu ul.sub-menu > li:first-child {
	border-top: 1px solid #444;
}

ul.sub-menu > li:last-child > a {
	border-radius: 0 0 2px 2px;
}

ul.sub-menu > li > a.parent {
	background-image: url(../images/arrow.png);
	background-size: 5px 9px;
	background-repeat: no-repeat;
	background-position: 95% center;
}


@media all and (max-width: 867px) {
	.inner {
	padding: 0 40px;
}
}
@media all and (min-width: 768px) {
	#searchDivsm{
	    display: none;
	}
	
	#main-menu li:hover > ul.sub-menu {
	display: block; /* show the submenu */
	
}
}
@media all and (max-width: 768px) {
	#SearchDiv{
		display: none;
	}
	#navigation {
		position: static;
		margin-top: 20px;
	}

	#menu-toggle{
		display: block;
		font-size: 30px;
		padding-top: 23px;
		color: #e69b9b;
	}

	.searchIcon {
	    display: block;
	    font-size: 30px;
	    padding-top: 24px;
	    color: #e69b9b;
	    float: right;
	    margin-right: 22px;
	}

	#history_submenu, #User_submenu{
		display: none;
	}
	#main-menu {
		display: none;
		float: none;
	}

	#main-menu li {
		display: block;
		margin: 0;
		padding: 0;
	}

	#main-menu > li {
		margin-top: -1px;
	}

	#main-menu > li:first-child {
		margin-top: 0;
	}

	#main-menu > li > a {
		background-color: rgba(101, 65, 91, 0.59);
		border: 1px solid #65415b;
		
		display: block;
		font-size: 14px;
		padding: 12px !important;
		padding: 0;
	}

	
	#main-menu li:hover {
		background-color: #e69b9b; 
		color : #e79b9b;/*#77d596;#23dbdb*/
	}

	#main-menu li > a:hover {
		background-color: #65415b ; 
		color : #e69b9b;/*#77d596;#23dbdb*/
	}

	#main-menu > li.parent {
		background: none !important;
		
		padding: 0;
	}

	#main-menu > li:hover > a,
	#main-menu > li.current-menu-item > a {
		border: 1px solid #65415b !important;
		
		color : #e69b9b;/*#77d596;#23dbdb*/
	}

	ul.sub-menu {
		display: block;
		margin-top: -1px;
		margin-left: 20px;
		position: static;
		padding: 0;
		width: inherit;
	}

	ul.sub-menu > li:first-child {
		border-top: 1px solid rgba(230, 155, 155, 0.28) !important
	}

	ul.sub-menu > li > a.parent {
		background: rgba(99, 63, 89, 0.89) !important;
		
	}

	#history_toggle:after{
	font-family: FontAwesome;
    content: " \f107";
    position: relative;
    top: 2px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    margin: 2px 5px;
	}
	
	/*.product {
	  position: relative;
	  width: 300px;
	  margin: 50px auto;
	}
	.product > div {
  width: 300px;
  /*position: absolute;
  box-shadow: 0px 0px 6px 0px #ddd;
}
*/
}
