body {
    font-family: Amiri, Comic Sans MS, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
	color: #633f59;
	direction:rtl;
	min-width:346px;
}

.container > div > div{
	float:right;
}
 
.f1 h3 ,.f1 h4 {
	color: #633f59;
}


input[type="file"]::-webkit-file-upload-button {
		cursor: pointer;
}

.file-upload-native:focus,
.file-upload-text:focus {
		outline: none;
}

.file-upload-text {
		z-index: 10;
		padding: 5px 15px 8px;
		overflow: hidden;
		font-size: 14px;
		line-height: 1.4;
		cursor: pointer;
		text-align: center;
		letter-spacing: 1px;
		text-overflow: ellipsis;
		color: rgb(144, 162, 148);
		border: 0;
		background-color: transparent;
}

.file-upload-native {
		z-index: 15;
		opacity: 0;
}
.side-section
{
	color:white;
	background-color: rgba(99, 63, 89, 0.55);
	min-height: 662px;
	margin-right: 36px;
}

.side-section p {
	font-size:18px;
	padding:30px 10px 40px 10px;
}

.side-section h1{
	padding-top:20px;
}

.side-section h3{
	padding:12px;
}
.side-section h4{
	padding-top:10px;
	padding-bottom:20px;
}

.side-section a {
	margin-top:50px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:40px;
	padding-right:40px; 
	border: 2px solid white;
	border-radius: 3px;
	color:white;
}




strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #633f59
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

img { max-width: 100%; }

::-moz-selection { background: #e79c9c; color: #fff; text-shadow: none; }
::selection { background: #e79c9c; color: #fff; text-shadow: none; }


.top-content { 
	padding: 0px 0 0px 0;
	margin-top : auto ; 
	margin-bottom:auto 
}
.top-content .text { color: #633f59; }
.top-content .text h1 { color: #fff; }
.top-content .description { margin: 20px 0 10px 0; }
.top-content .description p { opacity: 0.8; }
.top-content .description a { color: #fff; }
.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box { padding-top: 60px; }


.preview {
		display: block;
		width: 90%;
		height: 170px;
		margin: 20px auto;
		border: 1px solid rgb(221, 221, 221);
		border-radius: 5%;
		overflow: hidden;
}

.file-upload-wrapper {	
		display: block;
		margin: 5px auto;
}

.file-upload-native, .file-upload-text {
		
		display: block;
		margin-top: -60px;
		width:100%;
		
		margin-bottom:20px;
		cursor: pointer;
}
.img-error { border-color: #e79b9b; }

.bootstrap-select.btn-group .dropdown-toggle .caret {
    position: absolute;
    top: 50%;
    right: 90%; 
	
    margin-top: -2px;
    vertical-align: middle;
}

.dropdown-menu {
	text-align:right;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
	text-align:right;
}
.drp {
	width:50%;
	float:right;
	padding-left:10px;
}

.f1 {
	padding: 25px; background: #fff;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 36px;
}
.f1 h3 { 
	margin-top: 0; 
	margin-bottom: 5px; 
	text-transform: uppercase; 
}
.set
{
	    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
	margin-bottom:20px;
}
/***** Media queries *****/

@media (max-width: 415px) {
	
	h1, h2 { font-size: 32px; color:white }
	
	.f1 { padding-bottom: 20px;}
	.f1-buttons button { margin-bottom: 5px; }

}


/* Retina-ize images/icons */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	
	/* logo */
    .navbar-brand {
    	background-image: url(../img/logo@2x.png) !important; background-repeat: no-repeat !important; background-size: 162px 36px !important;
    }
	
}

.continue
{
  padding-left: 25px ;
  padding-right:25px;
  padding-bottom:5px;
  padding-top:5px;
  float:left;
}
.continue, .continue:link,  .continue:visited {
  direction:rtl;
  text-decoration: none;
  letter-spacing: -.015em;
  font-size: .75em;
  color: #fff;
  background: #633f59;
  font-weight: bold;
  border-radius: 50px;
  text-align: right;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
    min-width:91px;
}

.continue-prev , .continue-prev:link,  .continue-prev:visited {
  margin-left:5px;
  direction:rtl;
  text-decoration: none;
  letter-spacing: -.015em;
  font-size: .75em;
  color: #fff;
  background: #cfbeb7;
  font-weight: bold;
  border-radius: 50px;
  text-align: right;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
  float:left;
  min-width:91px;
}
.continue-prev:before {
  content: "\276e";
  padding: .5em;
  position: relative;
  right: 0;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}


.continue:after {
  content: "\276f";
  padding: .5em;
  position: relative;
  left: 0;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
 .continue:hover,  .continue:focus,  .continue:active {
  background: #e79c9c;
  color:white;
   border : 0px ;
}
 .continue-prev:hover,  .continue-prev:focus,  .continue-prev:active {
  background: #e79c9c;
  color:white;
   border : 0px ;
}
 .continue:hover:after,  .continue:focus:after,  .continue:active:after {
  left: -10px;
  border : 0px ;
}
 .continue-prev:hover:before,  .continue-prev:focus:before,  .continue-prev:active:before {
  right: -10px;
  border : 0px ;
}

.genderMale
{
	display:inline;
}
.genderFemale
{
	display:inline;
	margin-right:16px;
}

input[type="text"], 
input[type="password"], 
textarea, 
textarea.form-control {
	direction:rtl;
	height: 44px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 16px;
    font-weight: 300;
    line-height: 44px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

textarea, 
textarea.form-control {
	height: 90px;
	padding-top: 8px;
	padding-bottom: 8px;
	line-height: 30px;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
textarea:focus, 
textarea.form-control:focus {
	outline: 0;
	background: #fff;
    border: 1px solid #ccc;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, 
textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, 
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }

label { font-weight: 300; }

button:focus {outline:0;}


.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
@media all and (max-width: 991px) {
.side-section p {
	font-size:14px;
	padding:0px;
}
}
@media all and (max-width: 766px) {

.side-section
{
	color:white;
	background-color: rgba(99, 63, 89, 0.35);
	min-height: 100px;
	width: 100%;
	margin-right:0px;
}
.side-section p {
	font-size:14px;
	color:white;
	padding:0px;
}
.side-section h1{
	padding-top:0px;
	color:white;
}

.side-section h3{
	padding:0px;
	color:white;
}
.side-section h4{
	padding-top:6px;
	padding-bottom:20px;
	color:white;
}

.side-section a {
	margin-top:50px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:40px;
	padding-right:40px; 
	border: 2px solid white;
	border-radius: 3px;
	color:white;
}
.form-box { padding-top: 22px; padding-bottom: 20px;color: #633f59;width: 100%;}


h1, h2 {

	font-size: 28px;
    font-weight: 100;
    
    line-height: 20px;
}

.side-section  h3 {
	font-size: 16px;
    font-weight: 300;
    
    line-height: 19px;
}

.side-section  h4 {
	font-size: 14px;
    font-weight: 300;
    
    line-height: 26px;
}
}



